<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.psk.customimagepicker">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".filePicker.FilePickerActivity"
            android:icon="@drawable/ic_pdf"
            android:label="PDF" />
        <activity
            android:name=".gallery.GalleryActivity"
            android:configChanges="screenSize|orientation" />
    </application>
</manifest>
